header {
    /*background-color: #ffe812;*/
    background-color: #fae311;
    padding: 1px;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 17%;
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: black;
    padding-left: 40%;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

nav {
    float: left;
    /*width: 100px;*/
    /*height: 100%;*/
    width: 100%;
    height: 50px;
    background: black;
    padding: 100px;
    font-size: 22px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

article {
    float: left;
    padding-top: 10px;
    padding-left: 456px;
    width: 44%;
    background-color: white;
    height: 300px;
    line-height: 1.6;
}

section: after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #fae311;
    padding: 10px;
    text-align: center;
    color: white;
}


@media (max-width: 1149px) {
    header {
        font-size: 20px;
        height: 90px;
        width: 100%;
        margin-top: 0%;
    }

    .topnav {
        padding-left: 34%;
    }

    nav {
        width: 80%;
        height: 1px;
    }

    nav ul {
        margin-top: -50px;
        margin-bottom: 100px;
        font-size: 17px;
        /*padding-left: 20px;*/
    }

    article {
        width: 600px;
        padding-left: 200px;
    }

    img {
        width: 500px;
    }

    #ryan {
        width: 300px;
    }

    .center {
        width: 70%;
    }
}



@media (max-width: 590px) {
    header {
        font-size: 20px;
        height: 90px;
        width: 100%;
        margin-top: 0%;
    }

    .topnav {
        padding-left: 15%;
    }

    nav {
        width: 80%;
        height: 1px;
    }

    nav ul {
        margin-top: -50px;
        margin-bottom: 100px;
        font-size: 17px;
        padding-left: 0px;
    }

    article {
        width: 460px;
        padding-left: 0px;
    }

    img {
        width: 400px;
    }

    #ryan {
        width: 300px;
    }

    .center {
        width: 60%;
    }
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


body {
    background-color: white;
    font-family: Verdana;
}
h1 {
    color: black;
}

h2 {
    color: black;
}
h3 {
    color: dodgerblue;
}

p1 {
    color: black;
    font-size: 14px;
    /*padding: 30px;*/
    margin-top: 30px;
    margin-bottom: 30px;
}

p2 {
    color: dodgerblue;
    font-size: 14px;
    /*padding: 30px;*/
    margin-top: 30px;
    margin-bottom: 30px;
}

.main {
    margin-top: 30px;
    margin-bottom: 70px;
    padding-left: 40px;
    line-height: 2.0;
}

a:link {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}